.app {
  display: flex;
  /* justify-content: space-between; */
}

.navigation {
  display: flex;
  background: rgb(237, 145, 33);
  height: 100vh;
  width: 18em;
}

.nav-bar {
  background: rgb(239, 178, 97);
  margin: 3em 0em 3em 2em;
  display: flex;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
  height: 4em;
}
.nav-item a.active,
.nav-item.logout:hover,
.nav-item a:hover {
  background: #fff;
  color: rgb(239, 178, 97);
  border-radius: 2em;
  height: 3em;
}

.nav-item a {
  min-width: 12em;
  display: flex;
  text-decoration: none;
  color: #fff;
  align-items: center;
  height: 3em;
}

.nav-item-title {
  margin-left: 1em;
  margin-right: 2em;
}

.nav-item-icon {
  margin-left: 1em;
}

.nav-item.logout {
  position: absolute;
  bottom: 5em;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  height: 3em;
  min-width: 12em;
}

.nav-item.logo {
  position: absolute;
  top: 5em;
  color: #fff;
  display: flex;
  justify-content: center;
}
